.button-add {
  min-width: 0px;
  list-style-image: url("chrome://colortab/skin/images/add.png");
}

.button-add[disabled="true"] {
  opacity: 0.5;
}

.button-delete {
  min-width: 0px;
  list-style-image: url("chrome://colortab/skin/images/delete.png");
}

.button-delete[disabled="true"] {
  opacity: 0.5;
}

.button-up {
  min-width: 0px;
  list-style-image: url("chrome://colortab/skin/images/up.png");
}

.button-up[disabled="true"] {
  opacity: 0.5;
}

.button-down {
  min-width: 0px;
  list-style-image: url("chrome://colortab/skin/images/down.png");
}

.button-down[disabled="true"] {
  opacity: 0.5;
}

.button-edit {
  min-width: 0px;
  list-style-image: url("chrome://colortab/skin/images/edit.png");
}

.button-edit[disabled="true"] {
  opacity: 0.5;
}
